/*! endblock alice/button/1.1.1/ui-button-blue-debug.css */
/*! endblock alice/button/1.1.1/button-debug.css */

.ui-dbutton {
    padding: 0 !important;
}

.ui-dbutton:active {
    box-shadow: none;
}

.ui-dbutton-self,
.ui-dbutton-arrow {
    float: left;
    font-weight: normal;
    cursor: pointer;
}

.ui-dbutton-self {
    border-radius: 2px 0 0 2px;
}

.ui-dbutton-arrow {
    border-radius: 0 2px 2px 0; 
}

/* 橙色 */

.ui-dbutton-orange:hover {
    color: #fff;
    background-color: #f57403;
}

.ui-dbutton-orange .ui-dbutton-self:hover,
.ui-dbutton-orange .ui-dbutton-arrow:hover {
    background-color: #fb8318;
}

.ui-dbutton-orange .ui-dbutton-self {
    /*border-right: 1px solid #fff;*/
}

.ui-dbutton-orange .ui-dbutton-arrow {
    border-left: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

/* 大按钮 */
.ui-button-large .ui-dbutton-self {
    padding: 0 12px;
}

.ui-button-large .ui-dbutton-arrow {
    width: 24px;
}

/* 中按钮 */

.ui-button-normal .ui-dbutton-self {
    padding: 0 10px;
}

.ui-button-normal .ui-dbutton-arrow {
    width: 20px;
}

/* 小按钮 */

.ui-button-small .ui-dbutton-self {
    padding: 0 8px;
}

.ui-button-small .ui-dbutton-arrow {
    width:18px;
    font-size: 10px;
}


.ui-button-dropdown {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.ui-button-dropdown-large,
.ui-button-dropdown-middle,
.ui-button-dropdown-small {
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 0 4px #d9d9d9;
    zoom: 1;
    position: absolute;
    left: 0;
    width: 98%;
    background: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
}
.ui-button-dropdown-large {
    top: 33px;
    font-size: 14px;    
}
.ui-button-dropdown-middle {
    top: 29px;
    font-size: 13px;    
}
.ui-button-dropdown-small {
    top: 25px;
    font-size: 12px;
}
.ui-button-dropdown-item {
    zoom: 1;
    border-bottom: 1px solid #E6E6E6;    
}
.ui-button-dropdown-item a {
    padding: 5px 10px;
    display: block;
    zoom: 1;
    color: #090707;
}
.ui-button-dropdown-item a:hover {
    background-color: #DFE9F2;
    text-decoration:none;
}
/*! endblock alice/button-dropdown/1.1.1/dropdown-debug.css */
